.text-size{
    font-size: 1rem;
}
.icon-size{
    font-size: 0.8rem;
    color: red;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgb(245, 245, 245);
    border: 1px solid lightgray;
    width: 30%;
    cursor: pointer;
}
.box-parent{
    /* display: grid; */
    justify-content: center;
    align-items: center;
}

.membership-card{
 width: 30%;
 background-color: white;
 margin: 10px;
 padding: 0px 0px 10px 0px;
}

.happy_client_box{
    background-color: lightgray;
    width: 30%;
}